@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
}

pre {
    padding: 0 !important;
}

pre code {
    white-space: pre-wrap;
    word-break: break-all;
}

.u-fullscreen {
    height: 100vh;
    width: 100vw;
}

.u-fullscreen-pad {
    font-size: 14px;
}

.u-pad-frame {
    max-width: 840px;
    width: 100%;
    height: 480px;
}

.u-text-center {
    text-align: center;
}

.u-narrow-container {
    margin: 0 auto;
    max-width: 840px;
    width: 100%;
}

.u-padded {
    padding: 1rem;
}

.u-v-padded {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.u-nav-brand {
    height: 1.75rem;
    width: auto;
}

.pad {
    max-width: 840px;
    width: 100%;
    height: 480px;
    font-size: 14px;
}

.columns {
    /* RESET */
    display: block;
    padding: 0;
    margin: 0
}

.column {
    /* RESET */
    display: block;
    padding: 0;
    margin: 0
}
