@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
}

.u-padded {
    padding: 1rem;
}

.u-v-padded {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.u-nav-brand {
    height: 1.75rem;
    width: auto;
}

.pad {
    max-width: 840px;
    width: 100%;
    height: 480px;
    font-size: 14px;
}

.columns {
    /* RESET */
    display: block;
    padding: 0;
    margin: 0
}

.column {
    /* RESET */
    display: block;
    padding: 0;
    margin: 0
}
